<!DOCTYPE html>
<html>
 <head>
    <title>LoadedFiles </title>
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
 </head>

 <body>
    <h1>All Signals</h1>
   <form name="form1" action="/callback" method="POST" >
        <input type="text" id='xmin' name="xmin"><br>
        <input type="text" id='xmax' name="xmax"><br>
       <input type="text" id='dx' name="dx"><br>
       <label for="varControl">Controlled by:</label>
        <select name='varControl' id="varcontrol" >
            <option value="Temp">Temp</option>
            <option value="Curv">Curv</option>
            <option value="Torsion">Torsion</option>
        </select> <br>
       <input type="checkbox" name="Leyenda"/>
        <label for="selectValues">Choose signal(s):</label>
        <select name='selectValues' id="selectValues" multiple >
        </select>
        <script>
            var select = document.getElementById("selectValues");
            var options = {{paramStr|safe}};
            for(var i = 0; i < options.length; i++) {
                var opt = options[i];
                var el = document.createElement("option");
                el.textContent = opt;
                el.value = opt;
                select.appendChild(el);
            }
        </script>
      <input type="csvFile" id='csvFile' name="csvFile" value={{csvFile|safe}} readonly style="visibility:hidden;"><br>
       <input type="submit" value="Refresh" >
    </form>

    <div id="chart" class="chart" ></div>
<h6><a href="/">Return to index page</a></h6>
 </body>

 <script type='text/javascript'>
      var myPlot = document.getElementById('chart');
        data={{dataJSON|safe}}
        layout={{layoutJSON|safe}}
        Plotly.newPlot('chart',data,layout);
        myPlot.on('plotly_click', function(data){
             var pts = '';
             for(var i=0; i < data.points.length; i++){
                annotate_text = 'x = '+data.points[i].x +
                      'y = '+data.points[i].y.toPrecision(4);

                annotation = {
                    text: annotate_text,
                    x: data.points[i].x,
                    y: parseFloat(data.points[i].y.toPrecision(4))
                }

            annotations = self.layout.annotations || [];
            annotations.push(annotation);
            Plotly.relayout('chart',{annotations: annotations})
            }
        });
</script>



</html>
